In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# отключим некритические предупреждения в коде
import warnings
warnings.filterwarnings("ignore")

# сбросим ограничение на количество выводимых столбцов, что бы просмотреть все столбцы
pd.set_option('display.max_columns', None)
pd.set_option('display.max_columns', None)
#зададим константу 
RANDOM_STATE = 12345

In [2]:
data = pd.read_csv('data.csv', index_col=0)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 325623 entries, 0 to 325622
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   whs                     325623 non-null  int64
 1   orderkey                325623 non-null  object
 2   selected_cartontype     325623 non-null  object
 3   box_num                 325623 non-null  int64
 4   recommended_cartontype  325623 non-null  object
 5   selected_carton         325623 non-null  object
 6   sel_calc_cube           325623 non-null  int64
 7   recommended_carton      325623 non-null  object
 8   pack_volume             325623 non-null  int64
 9   rec_calc_cube           325623 non-null  int64
 10  goods_wght              325623 non-null  float64
 11  sku                     325623 non-null  object
 12  who                     325623 non-null  object
 13  trackingid              325623 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 37.3+ MB

In [3]:
sku_data = data['sku']
sku_data = sku_data.drop_duplicates().reset_index(drop=True).reset_index()
sku_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86516 entries, 0 to 86515
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   86516 non-null  int64
 1   sku     86516 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.3+ MB

In [4]:
%%time
sku_cargotypes = pd.read_csv('sku_cargotypes.csv', index_col = 0)
sku_cargotypes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21053152 entries, 0 to 21053151
Data columns (total 2 columns):
 #   Column     Dtype
---  ------     -----
 0   sku        object
 1   cargotype  int64
dtypes: int64(1), object(1)
memory usage: 481.9+ MB
Wall time: 8.86 s

In [5]:
sku_cargotypes.head(10)

                                sku  cargotype
0  4862bf0e760a593b13f3f2fcf822e533        290
1  4862bf0e760a593b13f3f2fcf822e533        901
2  50d3c4fc66ad423b7feaadff2d682ee0        290
3  50d3c4fc66ad423b7feaadff2d682ee0        901
4  24ce9dba9f301ada55f60e25ee1498d2        290
5  24ce9dba9f301ada55f60e25ee1498d2        441
6  24ce9dba9f301ada55f60e25ee1498d2        490
7  54a4f25859c817c131b7ec620d1ff278        290
8  54a4f25859c817c131b7ec620d1ff278        441
9  54a4f25859c817c131b7ec620d1ff278        490

In [6]:
%%time
cargotype_info = pd.read_csv('cargotype_info.csv', index_col = 0)
cargotype_info.head()

Wall time: 3.1 ms

   cargotype                                        description
0      770.0                                           консервы
1      301.0               тяжеловесный и крупногабаритный 20кг
2      980.0                    Требует обязательной маркировки
3      985.0  Не требует наличия маркировки, но требует выво...
4      990.0  Потребует обязательной маркировки в ближайшем ...

In [7]:
sku_and_cargotype = sku_data.merge(sku_cargotypes, on='sku', how='left')
sku_and_cargotype.head(20)

    index                               sku  cargotype
0       0  af49bf330e2cf16e44f0be1bdfe337bd      290.0
1       0  af49bf330e2cf16e44f0be1bdfe337bd      600.0
2       0  af49bf330e2cf16e44f0be1bdfe337bd      610.0
3       0  af49bf330e2cf16e44f0be1bdfe337bd      950.0
4       0  af49bf330e2cf16e44f0be1bdfe337bd      970.0
5       0  af49bf330e2cf16e44f0be1bdfe337bd      980.0
6       1  6287a74b664fd8ad4ed5c541b399a82b      200.0
7       1  6287a74b664fd8ad4ed5c541b399a82b      291.0
8       1  6287a74b664fd8ad4ed5c541b399a82b      360.0
9       2  ef468fa349bb8f058aa5dcd76bda60b2      200.0
10      2  ef468fa349bb8f058aa5dcd76bda60b2      290.0
11      2  ef468fa349bb8f058aa5dcd76bda60b2      340.0
12      3  d714bc5c946ec01d9b09714524805e5c      290.0
13      3  d714bc5c946ec01d9b09714524805e5c      340.0
14      4  eb0e661f3ed57ef7ca16418bf50e363e      200.0
15      4  eb0e661f3ed57ef7ca16418bf50e363e      290.0
16      4  eb0e661f3ed57ef7ca16418bf50e363e      360.0
17      5  0588e43ea7ad1ef603059269db6467eb      291.0
18      5  0588e43ea7ad1ef603059269db6467eb      320.0
19      5  0588e43ea7ad1ef603059269db6467eb      340.0

In [8]:
sku_and_cargotype.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 338975 entries, 0 to 338974
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   index      338975 non-null  int64
 1   sku        338975 non-null  object
 2   cargotype  333401 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 10.3+ MB

In [9]:
sku_and_cargotype = sku_and_cargotype.merge(cargotype_info, on='cargotype', how='inner')

In [10]:
sku_and_cargotype.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 343238 entries, 0 to 343237
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   index        343238 non-null  int64
 1   sku          343238 non-null  object
 2   cargotype    332090 non-null  float64
 3   description  343238 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 13.1+ MB

In [11]:
sku_and_cargotype.head()

,index,sku,cargotype,description
0,0,af49bf330e2cf16e44f0be1bdfe337bd,290.0,Склад МГТ (малогабаритный товар)
1,2,ef468fa349bb8f058aa5dcd76bda60b2,290.0,Склад МГТ (малогабаритный товар)
2,3,d714bc5c946ec01d9b09714524805e5c,290.0,Склад МГТ (малогабаритный товар)
3,4,eb0e661f3ed57ef7ca16418bf50e363e,290.0,Склад МГТ (малогабаритный товар)
4,6,706513014b99aa52bd13b2a59a97d354,290.0,Склад МГТ (малогабаритный товар)

In [28]:
np.sort(sku_and_cargotype['description'].unique())

array(['2023-04-11', 'БАДы', 'Нельзя в Экспресс', 'Нельзя на ФФЦ и СЦ',
       'Потребует обязательной маркировки в ближайшем будущем',
       'Склад КГТ (крупногабаритный товар)',
       'Склад МГТ (малогабаритный товар)',
       'Склад СГТ (среднегабаритный товар)', 'Терморежим 13-22',
       'Требует обязательной маркировки', 'агрохимикаты',
       'аксессуары, часы и украшения', 'аптека', 'большой аксессуар',
       'бытовая техника', 'бытовая химия', 'в ассортименте',
       'ветеринарная аптека',
       'возможно вскрытие заводской упаковки покупателем',
       'возрастное ограничение на получение товара', 'впитывает запах',
       'готовое блюда', 'детские игрушки и игры', 'жидкость',
       'интим товар', 'керамика/стекло/камень/фарфор', 'консервы',
       'корма для животных', 'косметика и парфюмерия', 'мебель',
       'медикаменты', 'меркурий', 'мнется', 'многоместный товар',
       'не определен', 'не требует упаковки', 'нельзя примерить',
       'обувь взрослая', 'обувь детская', 'одежда верхняя',
       'одежда детская', 'одежда прочая', 'одежда с плечиками',
       'одежда, обувь, аксессуары', 'опасный', 'опасный Авиа',
       'охлажденные', 'пахучий', 'пачкает', 'пачкается', 'пестициды',
       'полуфабрикат', 'продукты питания', 'ручки письменные', 'семена',
       'средства личной гигиены', 'строительные материалы', 'сухие',
       'сыпучее', 'сырье', 'техника и электроника',
       'товары для авто и мототехники', 'товары для животных',
       'товары для красоты', 'товары для спорта и отдыха',
       'требует доставки с термо режимом 0+',
       'тяжеловесный и крупногабаритный',
       'тяжеловесный и крупногабаритный 20кг',
       'тяжеловесный и крупногабаритный больше паллеты',
       'упаковка в пленку', 'фреш', 'химикаты', 'хрупкое', 'цена высокая',
       'цена низкая', 'цена средняя', 'ценное', 'цифровой товар',
       'электроника'], dtype=object)

Еще решила посмотреть карготипы с указанием на упаковку.
Вроде вот это можно выделить:
'возрастное ограничение на получение товара'
'интим товар'
'керамика/стекло/камень/фарфор'
'не требует упаковки' - проверила в данных, иногда упаковывают, но мы можем у таких товаров поменять таргет на NONPACK, как минимум у заказов с 1 товаром
'хрупкое'
'упаковка в пленку' - проверила в данных, не всегда стрейч пленка, но мы можем у таких товаров поменять таргет на STRETCH, как минимум у заказов с 1 товаром
'цифровой товар' -   проверила в данных, упаковывают
'многоместный товар' - проверила в данных, в таблице занимет одну коробку

In [13]:
necessary_description = ['возрастное ограничение на получение товара',
'интим товар',
'керамика/стекло/камень/фарфор',
'не требует упаковки',
'хрупкое',
'упаковка в пленку',
 'цифровой товар',
'многоместный товар']

In [14]:
cargotype_info.query('description in @necessary_description')

    cargotype                                 description
5       910.0                                 интим товар
29      310.0                                     хрупкое
44       20.0  возрастное ограничение на получение товара
55      315.0               керамика/стекло/камень/фарфор
62      340.0                         не требует упаковки
63      303.0                          многоместный товар
72      210.0                              цифровой товар
97      360.0                           упаковка в пленку

In [24]:
sku_340 = sku_and_cargotype.query('cargotype == 360')['sku']
sku_340

113821    6287a74b664fd8ad4ed5c541b399a82b
113822    eb0e661f3ed57ef7ca16418bf50e363e
113823    22ebe748e358c7edde42bad4a7ce430a
113824    cfaca9e7f2bfa618af10f812a3dfef3e
113825    ef7bf24039a47423e252abc269943e2f
                        ...
118395    a8656f05ccad0664a871fccca09cc57a
118396    8ad2a108b75abaf57f56f889d590547c
118397    d4e1eda343a6625aca9ab0b999182daa
118398    1a9495fe5a50c0cd19de3b12bf1a9f5c
118399    9c079b2f9decb5d2b5d38952b5b26cc4
Name: sku, Length: 4579, dtype: object

In [25]:
data.query('sku in @sku_340')['recommended_cartontype']

14        MYD
17        YMF
21        YMG
22        YMC
29        YME
         ...
325610    YMG
325611    YMG
325612    YMG
325613    YMG
325614    YMG
Name: recommended_cartontype, Length: 45373, dtype: object